body {
    font-size: 15pt;
    background:#FDFBF7;
}
#latsha{
  padding:0;
  /*  clip-path: ellipse(49% 25% at 50% 50%);*/
  /*clip-path: circle(27.7% at 50% 50%);*/
 /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
/* clip-path: ellipse(25% 40% at 50% 50%);*/
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 45% 49%, 0% 0%);
  background: #FAF9F6;/*#32760A #B8C693 F8F1E7 */
height:10rem;
}
header{
  text-align:center ;
  align-items:center ;
}
nav{
    background:#F8F1E7;
    display:flex ;

    padding:0;
    align-items :center ;
    justify-content:space-between ;
}
#imglogo{
    z-index:1 ;
    position:absolute ;
    top:10%;
    left: 5rem ;
    height:20rem ;
    width:10rem ;
    object-fit: contain ;
}
h1{
    color:#365E19;
}
a{
  text-decoration:none ;
  color:#365E19;
  font-weight:1000 ;
}
nav a{
  background:#FAF9F6 ;
  padding:0.5rem  ;
  border-radius:1rem ;
}
nav a:hover{
  background:#365E19;
  color:#F8F1E7 ; 
}
@media(max-width:600px){
  nav{
        flex-wrap:wrap ;
  }
  nav #imglogo, #latsha{
    order:2;
    position:relative ;
    z-index:0;
  }
  nav #identity{
    order:1;
    position:absolute ;
    z-index:4 ;
    top: 8rem ;
  }
   #identity a{
     margin-top:1rem ;
   }
   #latsha{
       height:10rem;
width:80%;
position:relative;
z-index:0;
top: 10%;
left: 1rem;
   } 
   nav #imglogo{
     position:absolute ;
    top:7rem ;
    left :0rem ;
    height:20rem ;
    width:20rem ;
    z-index: 1 ;
   }
   #products{
     display:flex ;
  flex-wrap:wrap ;
 /* flex-grow: 1;*/
  gap: 0.5rem ;
  justify-content:center ;
   }
  .product img{
     width:10rem ;
     height:10rem ;
     object-fit:cover ;
   }
}
@media(max-width:992px){
  nav{
    height:20rem ;
  }
       #latsha{
       height:20rem ;
width:50rem ;
position:relative;
z-index:0;
top: 0rem ;
left: 0rem;
   } 
   #imglogo{
     position:absolute ;
    top:-2rem ;
    left :  28rem ;
    height:30rem ;
    width:20rem ;
    
   }
   #products {
    display:flex ;
    flex-wrap:wrap ;
    gap: 1rem ;
    justify-content:space-evenly ;
   }
   img{
     width:15rem ;
     height:15rem ;
     object-fit:cover ;
   }
}
#whyus{
  margin-top:10rem ;
}
#whyus h3{
  border-bottom:0.35rem solid #EBA13E ;
  width:10rem ;
}
#filterBtns{
  display:flex ;
  flex-wrap:wrap ;
  justify-content:center ;
  gap: 1rem ;
}
.btn{
  height:2rem ;
  width:6rem ;
  border-radius:1rem ;
  border:none ;
  color:#365E19;
  font-weight:1000 ;
  background:#F8F1E7;
}
.active{
  background:#365E19;
  color:#F8F1E7 ;
}
#products{
  margin-top:5rem ;
  
}
.product{
  background:#FFF8EF;
  
}
/*img{
  width:10rem ;
  height:10rem ;
  object-fit:contain ;
}*/